*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family:'Open Sans', sans-serif;
    background-color: rgb(121, 113, 113); 
}
.container
{
    margin: 30px;
    display: flex;
    background-color: #fff;
    
}
.wrapper_droit
{
    flex: 1;
    padding: 30px 50px;
}
.wrapper_droit .titre
{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.wrapper_droit .grand
{
    font-size: 90px;
    text-transform: uppercase;
}
.wrapper_droit .rose
{
    color: rosybrown;  
}
.wrapper_droit .bar_recherche
{
    border: 1px solid rgb(129, 125, 125);
    color: #444;
    border-radius:25px;
    height: 50px;
    width: 500px;
    margin-top:30px;
}
.wrapper_droit .bar_recherche .glyphicon 
{
    float: right;
    background-color:rosybrown;
    height:48px;
    width: 100px;
    border-radius: 20px;
}

.wrapper_gauche
{
    flex: 1;
    max-width: 100%;
    max-height: 100%;

}
.wrapper_gauche{

    background: url(photo.jpg) no-repeat;
    background-size: cover;
}
